.banner {
  &_bg {
    background-image: url("https://image.tmdb.org/t/p/original/ta5oblpMlEcIPIS2YGcq9XEkWK2.jpg");
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
  }

  &_inner {
    padding: 200px 60px;
    width: 50%;
    background-image: linear-gradient(to right, $black 75%, transparent 100%);

    h1 {
      font-size: 36px;
      margin-bottom: 24px;
    }

    p {
      width: 70%;
      line-height: 24px;
      opacity: 0.8;
      font-size: 15px;
      margin-bottom: 24px;
    }

    button {
      @include button;
    }
  }

}
